*{
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    height: 100%;
   
}
body {
    margin:auto;
    display: flex;
    min-height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    column-gap: 10px;
    justify-content: stretch;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 10px;
    flex:1
}
.search-box {
    display: flex;

    flex-direction: column;
    margin: 10px;
    width:300px;
    text-align: center;
    
}

.search-box input{
    width:100%;

}

.search-results-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
    width:100%;
    padding:20px;
}
.search-result {
    background-color: #3a2d49;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100%;
}
.book-info{
    flex:1;
    word-wrap: break-word;

}

navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #3a2d49;
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.search-result h4 {
    margin-top: 0;
}

.search-result p {
    margin-top: 0;
}

.search-result button {
    margin-top: 10px;
}   

.link {
    display: flex;
    max-width: fit-content;
    margin-inline:auto;
    justify-content: center;
    align-items: center;

    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-self: end;
}

.link a {
    text-decoration: none;
}   

.link a:hover {
    text-decoration: underline;
}   

header {
    text-align: center;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}   

input {
    flex:1 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input:focus {
    outline: none;
}   

button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.htmx-indicator{
    display:none;
}
.htmx-request .htmx-indicator{
    display:flex;
}
.htmx-request.htmx-indicator{
    display:flex;
}
/* HTML: <div class="loader"></div> */
.loader {
    width: 20px;
    margin-inline:10px;
    aspect-ratio: 1;
    --c: no-repeat linear-gradient(#000 0 0);
    background: 
      var(--c) 0%   50%,
      var(--c) 50%  50%,
      var(--c) 100% 50%;
    background-size: 20% 100%;
    animation: l1 1s infinite linear;
  }
  @keyframes l1 {
    0%  {background-size: 20% 100%,20% 100%,20% 100%}
    33% {background-size: 20% 10% ,20% 100%,20% 100%}
    50% {background-size: 20% 100%,20% 10% ,20% 100%}
    66% {background-size: 20% 100%,20% 100%,20% 10% }
    100%{background-size: 20% 100%,20% 100%,20% 100%}
  }
  .error{
    display: flex;
    max-width: fit-content;
    margin-inline:auto;
    justify-content: center;
    align-items: center;
    background-color:#f87171;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  a{
    color: inherit;
  }
.white{
    --c: no-repeat linear-gradient(#fff 0 0);
}
.big{
    width:100px;
    height: 100px;   
}
.footer {
    justify-self: flex-end;
}