html{
    font-family: sans-serif;
}
body {
    margin:auto;
}
.search-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}

.search-results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 800px;
}

.search-result {
    width: 300px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-result h4 {
    margin-top: 0;
}

.search-result p {
    margin-top: 0;
}

.search-result button {
    margin-top: 10px;
}   

.link {
    display: flex;
    max-width: fit-content;
    margin-inline:auto;
    justify-content: center;
    align-items: center;

    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.link a {
    text-decoration: none;
}   

.link a:hover {
    text-decoration: underline;
}   

header {
    text-align: center;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}   

input {
    flex:1 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input:focus {
    outline: none;
}   

button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.htmx-indicator{
    display:none;
}
.htmx-request .htmx-indicator{
    display:inline;
}
.htmx-request.htmx-indicator{
    display:inline;
}
/* HTML: <div class="loader"></div> */
.loader {
    width: 20px;
    margin-inline:10px;
    aspect-ratio: 1;
    --c: no-repeat linear-gradient(#000 0 0);
    background: 
      var(--c) 0%   50%,
      var(--c) 50%  50%,
      var(--c) 100% 50%;
    background-size: 20% 100%;
    animation: l1 1s infinite linear;
  }
  @keyframes l1 {
    0%  {background-size: 20% 100%,20% 100%,20% 100%}
    33% {background-size: 20% 10% ,20% 100%,20% 100%}
    50% {background-size: 20% 100%,20% 10% ,20% 100%}
    66% {background-size: 20% 100%,20% 100%,20% 10% }
    100%{background-size: 20% 100%,20% 100%,20% 100%}
  }
  .error{
    display: flex;
    max-width: fit-content;
    margin-inline:auto;
    justify-content: center;
    align-items: center;
    background-color:#f87171;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }