{% for book in books if book.title %}
    <div class="search-result">
        <div class="book-info">
            <h4>{{ book['title'] }}</h4>
            {% for author in book['authors'] %} 
            <p><strong>Author:</strong> {{ author["first_name"]}} {{author["last_name"]}}</p> 
            {% endfor %}
            <p><strong>Year:</strong> {{ book['copyright_year'] }}</p>
            <p><strong>Duration:</strong> {{ book['totaltime'] }}</p>    
        </div>
        
        <button
            hx-post="/upload"
            hx-vals='"rss_url": "{{ book.url_rss }}", "title": "{{ book.title }}","id": {{book.id}}'
            hx-swap="outerHTML"
            hs-target="this"
            class="link"
            id="book-{{book.id }}"
            hx-indicator="#book-{{book.id}} > .htmx-indicator"
        >
            <span class="button-text">Generate PocketCasts Link</span>
            <span class="loader htmx-indicator"></span>
        </button>
    </div>
{% else %}
    <div class="search-result no-results">
        <div class="book-info">
            <h4>No Audiobooks Found</h4>
            <p>Try searching with different keywords or check your spelling.</p>
        </div>
    </div>
{% endfor %}