<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='style.css') }}"
		/>
		<title>LibriCasts</title>
	</head>
	<body>
		<navbar>
			<h1>LibriCasts</h1>
		</navbar>
		<main>
			<p>Import Librivox Audiobooks to PocketCasts</p>

				<div class="search-box" id="search-box">
					

					<input
						class="form-control"
						type="title"
						name="title"
						placeholder="Begin Typing To Search Title..."
						hx-get="/search"
						hx-trigger="input changed delay:500ms, search"
						hx-target="#search-results"
						hx-indicator="#main-loader"
					/>
					
					
				</div>
				<div class="htmx-indicator" style="align-self: center; justify-self: center;" id="main-loader"> 
					<div class="loader big white"></div>		
				</div>
				<div class="search-results-container" id="search-results"></div>
			
		</main>
		<footer class="footer">
			<p>Made with ❤️ by <a href="https://github.com/adhipk">Adhip Kashyap</a></p>
		<footer>
		<script src="https://unpkg.com/htmx.org@1.8.5"></script>
	</body>
</html>
